body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.task {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}